<!-- Navigation -->
<nav class="navigation navbar navbar-inverse navbar-fixed-top">
  <div ng-controller="navPageController" ng-cloak class="container-fluid">
    <!-- Handles loading issue for fontawesome -->
    <div class="loading-spinner">
      <div class="outer">
        <div class="inner fa fa-spinner"></div>
      </div>
    </div>
    <!-- This creates the mechanism for collapse button -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <!-- This controls the number of lines in the image when the nav collapse -->
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <!-- The branding on the left-hand side. -->
    <a class="navbar-brand" href="/"><img src="/images/logo_transparent_orange_notext.png">Brushfire</a>
    <div class="collapse navbar-collapse">
      <ul class="nav-items nav navbar-nav">
        <li><a href="/tutorials/browse">Browse Tutorials</a></li>
        <% if (me && me.admin) { %>
          <!--  Since you are logged in as an admin, we show the link to the admin dashboard -->
          <li><a href="/administration">User Administration</a></li>
        <% } %>
      </ul>
      <%
      // Sign in and Sign out links (unauthenticated user state) -->
      if (!me) { %>
        <ul class="nav navbar-nav navbar-right">
          <li><p class="navbar-btn"><a type="button" ng-hide="me" class="btn btn-text" href="/signin">Sign in</a></p></li>
          <li><p class="navbar-btn"><a type="button" ng-hide="me" class="btn btn-info" href="/signup">Sign up</a></p></li>
        </ul>
      <% }
      // Gravatar, Email, and logout link (authenticated user state)
      else if (me) { %>
        <ul class="nav navbar-nav navbar-right">
          <% if (typeof showAddTutorialButton !== 'undefined' && showAddTutorialButton) { %>
            <li><p class="navbar-btn"><a type="button" class="add-tutorial-btn btn" href="/tutorials/new">add tutorial</a></p></li>
          <% } %>
          <li class="me">
            <span class="user-dropdown" ng-click="menuVisible = true">
              <img class="avatar" ng-src="<%= me && me.gravatarURL%>"/>
              <% /* if `me` is null, this would show an error (since you can't get `null.email`.)  So we check to be sure `me` exists. */ %>
              <span class="username"><%= me && me.username%></span>
              <i class="dropdown-arrow fa fa-angle-down"></i>
            </span>
            <div class="user-menu-wrapper" ng-class="{'visible':menuVisible}">
              <div class="user-menu-veil" ng-click="menuVisible = false"></div>
              <div class="user-menu">
                <div class="list-group user-menu-items">
                  <!-- <a class="user-menu-item list-group-item" href="/tutorials/new">Add Tutorial</a> -->
                  <a class="user-menu-item list-group-item" href="/<%= me.username %>">Your Profile</a>
                  <a class="user-menu-item list-group-item" ng-click="signout()">Sign Out</a>
                </div>
              </div>
            </div>
          </li>
        </ul>
      <% } %>
    </div>
  </div>
</nav>