<div ng-controller="browseTutorialsPageController" ng-cloak>
  <div class="container">
    <div class="row">
      <div class="well">
        <div class="list-group">
          <div ng-repeat="tutorial in tutorials">
          <a href="/tutorials/{{tutorial.id}}" class="list-group-item tutorials-list">
            <div class="col-md-11" style="margin-top: 25px">
              <h3 class="list-group-item-heading">
                {{ tutorial.title }}
              </h3>
              <p class="list-group-item-text" style="font-size: 1.2em">
                {{ tutorial.description }}
              </p>
              <ul class="list-inline list-unstyled">
                <li>|</li>
                <li>
                  <span>by: <i class="fa fa-user"></i>  {{ tutorial.owner }}</span>
                </li>
                <li>|</li>
                <li>
                  <span>created </i>  {{ tutorial.created }}</span>
                </li>
                <li>|</li>
                <li>
                  <span><i class="fa fa-video-camera"></i>  {{ tutorial.totalTime }}</span>
                </li>
                <li>|</li>
                  <li>
                    <span>rating average: <rating ng-model="tutorial.stars" max="max" readonly="isReadonly" on-hover="hoveringOver(value, tutorial.id)" on-leave="overStar = null"></rating></span> 
                  </li>
                  <li>|</li>
              </ul>
            </div>
          </a>
          </div>
        </div>
        <button class="btn btn-primary center-block" ng-click="fetchMoreTutorialsLikeThis()" ng-disabled="loading || noMoreTutorials" >
          <span ng-show="!loading">show more tutorials</span>
            <span ng-show="loading"><i class="overlord-loading-spinner fa fa-spinner" ></i></span>
        </button>
      </div>
    </div>
  </div>
</div>
