<div ng-controller="editProfilePageController" ng-cloak>
  <!-- Error state -->
  <div class="alert alert-info toggle" ng-show="editProfile.errorMsg">
    <h5>Oops!</h5>
    <p>Looks like an error occurred.  Please try again later.</p>
    <code>
    {{editProfile.errorMsg}}
    </code>
  </div>
  <br>
  <!-- Loading state -->
  <div ng-show="editProfile.loading">
    <span class="overlord-loading-spinner fa fa-spinner"></span>
    <span>Loading user data...</span>
  </div>
  <div ng-hide="editProfile.loading">
    <div class="col-md-12">
    <h1>{{me.username}} <span class="glyphicon glyphicon-lock gi-05"></span></h1>
    <h2>{{me.email}} <span class="glyphicon glyphicon-lock gi-05"></span></h2>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Edit Profile</h4>
        </div>
        <div class="panel-body">
          <form ng-submit="updateProfile()">
            <div class="control-group form-group col-md-12">
              <label>Your Gravatar Url</label>
              <input type="text" class="form-control" name="name" ng-model="me.gravatarURL">
              <!-- <img ng-src="{{editProfile.properties.gravatarURL}}"/> -->
              <img class="center-block gravatar-edit" ng-src="{{me.gravatarURL}}"/>
            </div>
            <button type="submit" class="btn btn-lg btn-success btn-block">
            <span ng-show="editProfile.saving" class="overlord-loading-spinner fa fa-spinner"></span>
            <span ng-show="editProfile.saving">Saving...</span>
            <span ng-hide="editProfile.saving" class="btn-text">Save</span>
            </button>
          </form>
        </div>
      </div>
      <div class="col-md-offset-3 col-md-4 text-center"><a ng-click="restoreGravatarURL()" class="btn btn-primary">Restore Gravatar URL with current email address</a></div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Change Password</h4>
        </div>
        <div class="panel-body">
          <!-- Error state -->
          <div class="alert alert-info toggle" ng-show="editProfile.changePassword.errorMsg">
            <h4>Oops!</h4>
            <code>
            {{editProfile.changePassword.errorMsg}}
            </code>
          </div>
          <form ng-submit="changeMyPassword()" name="changePassword">
            <div class="control-group form-group col-md-12" ng-class="{'has-error':changePassword.password.$invalid && changePassword.password.$dirty}">
              <label>Choose a password</label>
              <input type="password" class="form-control" placeholder="at least 6 characters" name="password" ng-model="editProfile.properties.password" id="password" required ng-minlength="6" compare-to="editProfile.properties.confirmPassword">
              <span class="help-block has-error" ng-if="changePassword.password.$dirty">
            <span ng-show="changePassword.password.$error.required">Password is required.</span>
            <span ng-show="changePassword.password.$error.minlength">Password must be at least 6 characters.</span>
          </span>
            </div>
            <div class="control-group form-group col-md-12">
              <label>Re-enter your password</label>
              <input type="password" class="form-control" placeholder="one more time" name="confirmation" ng-model="editProfile.properties.confirmPassword" required>
              <span class="help-block has-error" ng-if="changePassword.confirmation.$dirty">
                <span ng-show="changePassword.password.$error.compareTo">Password must match.</span>
                <span ng-show="changePassword.confirmation.$error.required">Confirmation password is required.</span>
              </span>
            </div>
            <button type="submit" class="btn btn-lg btn-success btn-block" ng-disabled="changePassword.$invalid">
            <span ng-show="changePasswordForm.saving" class="overlord-loading-spinner fa fa-spinner"></span>
            <span ng-show="changePasswordForm.saving">Saving...</span>
            <span ng-hide="changePasswordForm.saving" class="btn-text">Save</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>