<div ng-controller="homePageController" class=" col-md-8 col-md-offset-2">
  <div class="jumbotron">
    <h1 class="jumboHeading">Chad's Feline Viral Videos Emporium</h1>
    <h2 class="jumboSubHeading">Viral cat videos since 2015</h2>
    <div><img src="./images/cat_logo.png" /></div>
    <a ng-hide="me.id || false" href="/signup" class="btn btn-lg btn-success">Sign up now!</a>
  </div>
</div>