<!DOCTYPE html>
<html>
  <head>
    <title>Brushfire</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Lato:300,300italic,700,700italic' rel='stylesheet' type='text/css'>

    <!--STYLES-->
    <!--STYLES END-->

    <!-- Expose sails locals as window.SAILS_LOCALS  -->
    <%- exposeLocalsToBrowser() %>

  </head>
  <body ng-app="brushfire">
    <%- partial('./partials/navigation.ejs') %>
    <%- body %>

    <!--TEMPLATES-->

    <!--TEMPLATES END-->


    <!-- This tells the WebSocket client automatically send the _csrf token in every WebSocket request -->
    <script src="/js/dependencies/sails.io.js" headers='{"x-csrf-token":<%- typeof _csrf !== 'undefined' ? JSON.stringify(_csrf) : 'null' %>}'></script>


    <!--SCRIPTS-->
    <!--SCRIPTS END-->
    <script type="text/javascript">
      io.sails.headers = {  //#A
        'x-csrf-token': window.SAILS_LOCALS._csrf
      }
    </script>
  </div>
</body>
</html>
