  <!-- Recovery Password Form  -->
<form role="form" ng-controller="passwordRecoveryPageController" ng-cloak ng-submit="recoverPassword()" id="recover-password-form" class="form-signup" name="passwordrecovery">
  <div class="row">
  <h2 class="form-signin-heading">Forgot your password?</h2>
    <!-- E M A I L -->
    <!--  -->
    <div class="form-group" ng-class="{'has-error':passwordrecovery.email.$invalid &&passwordrecovery.email.$dirty}">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-envelope" style="font-size: 1.5em"> email:</i>
        </span>
        <input ng-model="passwordRecoveryForm.email" style="font-size: 1.5em" class="form-control" placeholder="nikola@tesla.com" name="email" type="email" required>
      </div>
      <span class="help-block has-error" ng-if="passwordrecovery.email.$dirty">
        <span ng-show="passwordrecovery.email.$error.required" style="font-size: 1.5em">Email address is required.</span>
        <span ng-show="passwordrecovery.email.$error.email" style="font-size: 1.5em">Not a valid email address.</span>
      </span>
    </div>
  </div>
  <!-- Disable signup button until the form has no errors -->
  <div>
    <button class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="passwordrecovery.$invalid">
    <span ng-show="!passwordRecoveryForm.loading" style="font-size: 1.25em">Send password recovery email.</span>
    <span class="overlord-loading-spinner fa fa-spinner" ng-show="signupForm.loading" ></span>
    <span ng-show="passwordRecoveryForm.loading" style="font-size: 1.25em">Sending password recovery email...</span>
    </button>
    <div class="text-center" style="font-size: 1.5em"><a href="/signin">return to sign-in</a></div>
  </div>
</form>