<div ng-controller="passwordRecoveryPageController" ng-cloak class="container-fluid">
  <div class="container" style="margin-top:120px">
    <div class="row">
      <div class="col-sm-8 col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading text-center" style="font-size: 1.5em">
            <strong> Password recovery email sent!</strong>
          </div>
          <div class="panel-body">
            <p style="font-size: 1.5em">We’ve sent you an email containing a link that will allow you to reset your password. Please check your spam folder if the email doesn’t appear within a few minutes.</p>
            <div class="text-center"><a class="btn btn-primary" href="/signin">Return to sign-in</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>