<script type="text/javascript">
  window.SAILS_LOCALS = {
  passwordRecoveryToken: <%- typeof passwordRecoveryToken !== 'undefined' ? JSON.stringify(passwordRecoveryToken) : null %>
  };
</script>
<div ng-controller="resetPasswordPageController" ng-cloak>
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h4>Reset Password</h4>
      </div>
      <div class="panel-body">
        <form ng-submit="resetPassword()" name="resetPasswordForm">
          <div class="control-group form-group col-md-12" ng-class="{'has-error':resetPasswordForm.password.$invalid && resetPasswordForm.password.$dirty}">
            <label>Choose a password</label>
            <input type="password" class="form-control" placeholder="at least 6 characters" name="password" ng-model="properties.password" id="password" required ng-minlength="6" compare-to="properties.confirmPassword">
            <span class="help-block has-error" ng-if="resetPasswordForm.password.$dirty">
              <span ng-show="resetPasswordForm.password.$error.required">Password is required.</span>
              <span ng-show="resetPasswordForm.password.$error.minlength">Password must be at least 6 characters.</span>
            </span>
          </div>
          <div class="control-group form-group col-md-12">
            <label>Re-enter your password</label>
            <input type="password" class="form-control" placeholder="one more time" name="confirmation" ng-model="properties.confirmPassword" required>
            <span class="help-block has-error" ng-if="resetPasswordForm.confirmation.$dirty">
              <span ng-show="resetPasswordForm.password.$error.compareTo">Password must match.</span>
              <span ng-show="resetPasswordForm.confirmation.$error.required">Confirmation password is required.</span>
            </span>
          </div>
          <button type="submit" class="btn btn-lg btn-success btn-block" ng-disabled="resetPasswordForm.$invalid">reset password</button>
        </form>
      </div>
    </div>
  </div>
</div>