<div ng-controller="showVideoPageController" ng-cloak class="container-fluid col-md-5 col-md-offset-3">
  <h3><%= video.title %></h3>
  <iframe width="640" height="390" ng-src="<%= video.src %>" frameborder="0" allowfullscreen>
  </iframe>
  <div class="row text-center">
    <a href="/tutorials/<%= tutorialId %>">return to tutorial</a>
  </div>
</div>