<script type="text/javascript">
window.SAILS_LOCALS.chats = <%-
// Note that by putting these comments inside of the EJS tag, we prevent them from
// being sent down to client (i.e. they are boiled away on the server along
// with the EJS tags)
typeof chats !== 'undefined' ? JSON.stringify(chats) : 'null'
// Note that we deliberately use 'null' (a string) because EJS converts the
// `null` literal  into empty string (''), which is not what we want (that would
// be invalid JS and cause a client-side error in the browser)
%>;
</script>
<div ng-controller="showVideoPageController" ng-cloak class="video-page">
  <div class="container-fluid">
    <div class="row video-title-banner">
      <div class="col-md-12">
        <h1 class="video-title"><%= video.title %></h1>
      </div>
      <div class="back">
        <a class="back-btn btn btn-lg" href="/tutorials/<%= tutorialId %>">Back to Tutorial</a>
      </div>
    </div>
    <div class="row">
      <div class="video-column col-md-8">
        <div class="panel panel-default">
          <div class="video embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" ng-src="<%= video.src %>" allowfullscreen>
            </iframe>
          </div>
        </div>
      </div>
      <div class="chat-column col-md-4">
        <form role="form" ng-submit="sendMessage()">
          <div class="panel panel-default">
            <div class="panel-heading lead">
              <i class="fa fa-comment"></i> Chat
            </div>
            <div class="panel-body">
              <ul class="chat-window">
                <li class="chat clearfix" ng-repeat="chat in chats">
                  <div class="chat-body">
                    <img class="chat-avatar"ng-src="{{chat.gravatarURL}}">
                    <div class="header">
                      <span class="username">{{chat.username}} </span>
                      <small class="pull-right">{{chat.created}}</small>
                    </div>
                    <p class="message">
                      {{chat.message}}
                    </p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="panel-footer">
              <div class="input-group">
                <input id="btn-input" type="text" class="form-control input-sm" ng-model="message"placeholder="Type your message here..." ng-keypress="whenTyping($event)" ng-focus="whenTyping($event)" ng-blur="whenNotTyping($event)" ng-disabled="!me">
                <span class="input-group-btn">
                  <button type="submit" ng-disabled="!hasJoinedRoom || !me" class="btn btn-info btn-sm" id="btn-chat">
                  Send</button>
                </span>
              </div>
              <div ng-show="typing">
                {{usernameTyping}} is typing...<i class="overlord-loading-spinner fa fa-spinner" ></i>
              </div>
            </div>
          </div><!-- class="panel panel-primary" -->
        </form>
      </div>
    </div>
  </div>
</div>