<div ng-controller="showVideoPageController" ng-cloak class="container-fluid col-md-5 col-md-offset-4">
  <h1>This is a title </h1>
  <iframe width="640" height="390" ng-src="<%= src %>" frameborder="0" allowfullscreen>
  </iframe>
  <div class="text-center">
    <a href="/tutorials/1">return to tutorial</a>
  </div>
</div>