<div ng-controller="signoutPageController" ng-cloak class = "container col-md-5 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading text-center">
      <strong> Are you sure you want to sign out?</strong>
    </div>
    <div class = "text-center">
    <button ng-click="signout()" class="btn btn-primary">signout</button>
  </div>
</div>