<div ng-controller="signinPageController" ng-cloak class="container-fluid">
  <div class="container" style="margin-top:120px">
    <div class="row">
      <div class="col-sm-10 col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading text-center" style="font-size: 1.5em">
            <strong> Sign in to continue</strong>
          </div>
          <div class="panel-body">
            <form role="form" ng-submit="submitLoginForm()">
              <fieldset>
                <div class="row">
                  <div class="center-block">
                    <img class="profile-img"
                    src="/images/b.jpg" alt="brushfire logo">
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon" style="font-size: 1.5em">
                          <i class="fa fa-envelope"></i> or <i class="fa fa-user"></i>
                        </span>
                        <input ng-model="loginForm.login" class="form-control" placeholder="email address or username" name="login" type="text" style="font-size: 1.5em">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon" style="font-size: 1.5em">
                          <i class="fa fa-lock"></i>
                        </span>
                        <input ng-model="loginForm.password" class="form-control" placeholder="password" name="password" type="password" value="" style="font-size: 1.5em">
                      </div>
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-lg btn-primary btn-block">
                      <span ng-show="!loginForm.loading">Sign in</span>
                      <span ng-show="loginForm.loading" class="fa fa-spinner"></span>
                      <span ng-show="loginForm.loading">Signing in...</span>
                      </button>
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
          <div class="panel-footer text-center" style="font-size: 1.25em">
            Forgot your password? <a href="password-recovery-email"> Recover it here. </a>
          </div>
          <div class="panel-footer text-center" style="font-size: 1.25em">
            Don't have an account? <a href="/signup"> Sign up here. </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>