<div ng-controller="signinPageController" ng-cloak class="sign-in">
  <div class="container-fluid">
    <div class="row">
      <div class="auth-form login-form col-sm-4 col-sm-offset-4">
        <form role="form" ng-submit="submitLoginForm()">
          <div class="form-title">
            <img src="/images/logo_transparent_orange_notext.png" alt="brushfire logo">
            <span class="text">Login</span>
          </div>
          <fieldset>
            <div class="form-group">
              <!-- Email address or Username -->
              <input ng-model="loginForm.login" class="form-control input-lg" autofocus placeholder="Username or email" name="login" type="text">
            </div>
            <div class="form-group">
              <!-- Password -->
              <input ng-model="loginForm.password" class="form-control input-lg" placeholder="password" name="password" type="password">
            </div>
            <div class="form-group">
              <button type="submit" class="submit-btn btn btn-lg btn-block">
              <span ng-show="!loginForm.loading">Sign in</span>
              <span ng-show="loginForm.loading" class="fa fa-spinner"></span>
              <span ng-show="loginForm.loading">Signing in...</span>
              </button>
            </div>
          </fieldset>
        </form>
        <div class="auth-form-links">
          <p>Don't have an account? <a class="sign-up-link" href="/signup">Sign up.</a></p>
          <p><a class="forgot-password-link" href="password-recovery-email">Forgot your password?</a></p>
        </div>
        <!-- <div class="auth-footer text-center">
          Forgot your password? <a href="password-recovery-email"> Recover it here. </a>
        </div>
        <div class="auth-footer text-center">
          Don't have an account? <a href="/signup"> Sign up here. </a>
        </div> -->
      </div>
    </div>
  </div>
</div>