<div ng-controller="tutorialsDetailEditPageController" ng-cloak class="panel-page">
  <div class="container well">
    <h1>Edit a Tutorial </h1>
  </div>
  <div class="row">
    <!-- grey background with border -->
    <div class="container well">
      <%
        // Using EJS tags so this doesn't show up in the page.
        // The validation is tied to the form's `name` property.  Each input has it's
        // own `ng-class` and `required` directives. The submit button's ng-disabled
        // directive is tied to $invalid.
      %>
      <!-- Add NEW tutorial form -->
      <form role="form" class='form-horizontal' name="editTutorial" ng-submit="submitEditTutorialForm(<%= tutorial.id %>)">
        <!-- white background with border -->
        <!-- T I T L E -->
        <div class="form-group" ng-class="{'has-error':editTutorial.title.$invalid &&editTutorial.title.$dirty}">
          <div class="list-group-item">
            <label for="title" class=" control-label">Title</label>
            <input type="text" class="form-control" name="title" autofocus placeholder="e.g. tutorial title" ng-model="tutorialDetailsEdit.title" required>
          </div>
          <span class="help-block has-error" ng-if="editTutorial.title.$dirty">
            <span ng-show="editTutorial.title.$error.required">Title is required.</span>
          </span>
        </div>
        <!-- D E S C R I P T I O N -->
        <div class="form-group" ng-class="{'has-error':editTutorial.description.$invalid &&editTutorial.description.$dirty}">

          <div class="list-group-item">
            <label for="description" class=" control-label">Description</label>
            <textarea class="form-control" rows="3" name="description" placeholder="e.g. tutorial description" ng-model="tutorialDetailsEdit.description" required></textarea>
          </div>
          <span class="help-block has-error" ng-if="editTutorial.description.$dirty">
            <span ng-show="editTutorial.description.$error.required">Description is required.</span>
          </span>
        </div>
        <span class="pull-right">
          <a href="/tutorials/<%=tutorial.id%>" class="btn btn-default">cancel</a>
          <button type="submit" ng-click="submitEditTutorialForm()" ng-disabled="editTutorial.$invalid" class="btn btn-success">save</button>
        </span>
      </form>
    </div>
  </div>
</div>
