<div ng-controller="tutorialsDetailNewPageController" ng-cloak>
  <div class="container well">
    <h1>Sed ut perspiciatis unde omnis
      <h4>Adding video</h4>
    <span class="pull-right">
      <a href="#" class="btn btn-default">save</a>
      <a href="#" class="btn btn-default">cancel</a>
    </span>
    </h1>
  </div>
  <div class="row">
    <!-- grey background with border -->
    <div class="container well">
      <form role="form" class='form-horizontal'>
        <div class="form-group">
          <!-- white background with border -->
          <div class="list-group-item">
          <label for="title" class=" control-label" style="font-size: 1.5em">Title</label>
            <input type="text" class="form-control" name="title" placeholder="e.g. tutorial title" style="font-size: 1.5em">
          </div>
          <div class="list-group-item">
            <label for="description" class=" control-label" style="font-size: 1.5em">Description</label>
            <textarea class="form-control" rows="3" name="description" placeholder="e.g. tutorial description" style="font-size: 1.5em"></textarea>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>