<div class="container">
  <div class="row">
    <div class="well">
      <div class="list-group">
        <a href="#" class="list-group-item">
          <div class="col-md-8" style="margin-top: 25px">
            <h3 class="list-group-item-heading"> List group heading </h3>
            <p class="list-group-item-text" style="font-size: 1.2em"> Ut mea viris eripuit theophrastus, cu ponderum accusata consequuntur cum. Suas quaestio cotidieque pro ea. Nam nihil persecuti philosophia id, nam quot populo ea.
            </p>
            <ul class="list-inline list-unstyled">
              <li><span><i class="fa fa-user"></i> by: sailsinaction </span></li>
              <li>|</li>
              <span><i class="fa fa-calendar"></i> Sept. 20, 2015</span>
              <li>|</li>
              <span><i class="fa fa-video-camera"></i> 3h 22m</span>
              <li>|</li>
            </ul>
          </div>
          <div class="col-md-3 text-center col-md-offset-1" style="margin-top: 25px">
            <ul class="list-inline list-unstyled">
              <li><span><button>edit</button></li>
              <li><span><button>delete</button></li>
              <li><span><button>add video</button></li>
            </ul>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>