<div ng-controller="tutorialsDetailNewPageController" ng-cloak>
  <div class="container well">
    <h1>Tutorial Detail - add
    <span class="pull-right">
      <a href="#" class="btn btn-default">save</a>
      <a href="#" class="btn btn-default">delete</a>
    </span>
    </h1>
  </div>
  <div class="row">
    <!-- grey background with border -->
    <div class="container well">
      <form role="form" class='form-horizontal'>
        <div class="form-group">
          <!-- white background with border -->
          <div class="list-group-item">
            <input type="text" class="form-control" placeholder="e.g. tutorial title" style="font-size: 1.5em">
          </div>
          <div class="list-group-item">
            <textarea class="form-control" rows="3" placeholder="e.g. tutorial description" style="font-size: 1.5em"></textarea>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>