<div ng-controller="resetPasswordPageController" ng-cloak class="sign-in">
  <div class="container-fluid">
    <!-- S T A R T  O F  T H E  P A N E L -->
    <div class="row">
      <div class="auth-form login-form col-sm-4 col-sm-offset-4">
        <form role="form" ng-submit="resetPassword()" id="reset-password-form" name="resetPasswordForm">
          <fieldset>
            <div class="form-title">
              <img src="/images/logo_transparent_orange_notext.png" alt="brushfire logo">
              <span class="text">Reset Password</span>
            </div>
            <!-- P A S S W O R D -->
            <div class="form-group" ng-class="{'has-error':resetPasswordForm.password.$invalid &&resetPasswordForm.password.$dirty}">
              <!-- Password -->
              <input ng-model="properties.password" class="form-control input-lg" autofocus placeholder="at least 6 characters" name="password" ng-minlength="6" compare-to="properties.confirmpassword" type="password" autofocus required>
              <span class="help-block has-error" ng-if="resetPasswordForm.password.$dirty">
                <span ng-show="resetPasswordForm.password.$error.required">Password is required.</span>
                <span ng-show="resetPasswordForm.password.$error.minlength">Must be at least six characters.</span>
              </span>
            </div>
            <!-- C O N F I R M  P A S S W O R D -->
            <div class="form-group" ng-class="{'has-error':resetPasswordForm.confirmation.$invalid &&resetPasswordForm.confirmation.$dirty}">
              <!-- Confirm Password -->
              <input type="password" ng-model="properties.confirmpassword" class="form-control input-lg" placeholder="one more time" name="confirmation" required>
              <span class="help-block has-error" ng-if="resetPasswordForm.confirmation.$dirty">
                <span ng-show="resetPasswordForm.password.$error.compareTo">Password must match.</span>
                <span ng-show="resetPasswordForm.confirmation.$error.required">Confirmation password required</span>
              </span>
            </div>
            <div class="form-group">
              <button type="submit" class="submit-btn btn btn-lg btn-block" ng-disabled="resetPasswordForm.$invalid">
              <span ng-show="!properties.loading">Reset Password</span>
              <span ng-show="properties.loading" class="fa fa-spinner"></span>
              <span ng-show="properties.loading">Resetting password...</span>
              </button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
