<div ng-controller="passwordRecoveryPageController" ng-cloak class="sign-in">
  <div class="container-fluid">
    <!-- S T A R T  O F  T H E  P A N E L -->
    <div class="row">
      <div class="auth-form login-form col-sm-4 col-sm-offset-4">
        <form role="form" ng-submit="recoverPassword()" id="password-recovery-form" name="passwordrecovery">
          <fieldset>
          <div class="form-title">
            <img src="/images/logo_transparent_orange_notext.png" alt="brushfire logo">
            <span class="text">Password Recovery</span>
          </div>
          <!-- E M A I L -->
          <div class="form-group" ng-class="{'has-error':passwordrecovery.email.$invalid &&passwordrecovery.email.$dirty}">
              <!-- Email address or Username -->
              <input ng-model="passwordRecoveryForm.email" class="form-control input-lg" autofocus placeholder="email address" name="email" type="email" required>
              <span class="help-block has-error" ng-if="passwordrecovery.email.$dirty">
                <span ng-show="passwordrecovery.email.$error.required">Email address is required.</span>
                <span ng-show="passwordrecovery.email.$error.email">Not a valid email address.</span>
              </span>
            </div>
            <div class="form-group">
              <button type="submit" class="submit-btn btn btn-lg btn-block" ng-disabled="passwordrecovery.$invalid">
              <span ng-show="!passwordRecoveryForm.loading">Send Password Recovery Email</span>
              <span ng-show="passwordRecoveryForm.loading" class="fa fa-spinner"></span>
              <span ng-show="passwordRecoveryForm.loading">Sending email...</span>
              </button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>