<script type="text/javascript">
  // In case SAILS_LOCALS doesn't exist, set it to an empty dictionary.
  window.SAILS_LOCALS = window.SAILS_LOCALS || {};
  // This technique is called short-circuiting.  Here's why this works:
  // ```
  // false || true  // => true
  // false || 6  // => 6
  // undefined || true // => true
  // undefined || 6 // => 6
  // ```
  //
  // Caveats:
  // Note that this can have unexpected results if SAILS_LOCALS is something unexpectedly falsy (like empty string, null, false, 0).  Also note this doesn't ensure that window.SAILS_LOCALS is a dictionary.  We could check that, but it's probably ok (also we don't have access to lodash here so I'm mainly being lazy)

  // So the reason why we did that is just to be safe (what if the navigation.ejs partial is no longer used at some point?  This would throw a weird error that might make us annoyed or distressed)
  // Now we can set a property on the window.SAILS_LOCALS dictionary with confidence
  // that it is(...probably...) a dictionary.  And if it did already exist, we're not overriding it (just adding a property to it.)
  window.SAILS_LOCALS.passwordRecoveryToken =
  <%- typeof passwordRecoveryToken !== 'undefined' ?
  JSON.stringify(passwordRecoveryToken) :
  null %>;
</script>
<div ng-controller="resetPasswordPageController" ng-cloak class="sign-in">
  <div class="container-fluid">
    <!-- S T A R T  O F  T H E  P A N E L -->
    <div class="row">
      <div class="auth-form login-form col-sm-4 col-sm-offset-4">
        <form role="form" ng-submit="resetPassword()" id="reset-password-form" name="resetPasswordForm">
          <fieldset>
            <div class="form-title">
              <img src="/images/logo_transparent_orange_notext.png" alt="brushfire logo">
              <span class="text">Reset Password</span>
            </div>
            <!-- P A S S W O R D -->
            <div class="form-group" ng-class="{'has-error':resetPasswordForm.password.$invalid &&resetPasswordForm.password.$dirty}">
              <!-- Password -->
              <input ng-model="properties.password" class="form-control input-lg" autofocus placeholder="at least 6 characters" name="password" ng-minlength="6" compare-to="properties.confirmpassword" type="password" autofocus required>
              <span class="help-block has-error" ng-if="resetPasswordForm.password.$dirty">
                <span ng-show="resetPasswordForm.password.$error.required">Password is required.</span>
                <span ng-show="resetPasswordForm.password.$error.minlength">Must be at least six characters.</span>
              </span>
            </div>
            <!-- C O N F I R M  P A S S W O R D -->
            <div class="form-group" ng-class="{'has-error':resetPasswordForm.confirmation.$invalid &&resetPasswordForm.confirmation.$dirty}">
              <!-- Confirm Password -->
              <input type="password" ng-model="properties.confirmpassword" class="form-control input-lg" placeholder="one more time" name="confirmation" required>
              <span class="help-block has-error" ng-if="resetPasswordForm.confirmation.$dirty">
                <span ng-show="resetPasswordForm.password.$error.compareTo">Password must match.</span>
                <span ng-show="resetPasswordForm.confirmation.$error.required">Confirmation password required</span>
              </span>
            </div>
            <div class="form-group">
              <button type="submit" class="submit-btn btn btn-lg btn-block" ng-disabled="resetPasswordForm.$invalid">
              <span ng-show="!properties.loading">Reset Password</span>
              <span ng-show="properties.loading" class="fa fa-spinner"></span>
              <span ng-show="properties.loading">Resetting password...</span>
              </button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>